<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt | strip_html | truncate: 160 }}">
  {% endif %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

</head>

<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
  <a href="{{ '/' | relative_url }}">Home</a> |
  <a href="{{ '/categories/' | relative_url }}">Categories</a> |
  <a href="{{ '/tags/' | relative_url }}">Tags</a> |
  <a href="{{ '/about/' | relative_url }}">About</a>
</nav>

<div class="search-box">
  <input type="text" id="searchInput" placeholder="Search posts..." />
  <ul id="searchResults"></ul>
</div>

    <hr>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <hr>
    <p>© {{ site.title }}</p>
  </footer>
  <script src="{{ '/assets/js/search.js' | relative_url }}"></script>

</body>
</html>
