---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
  {% if current_lang != site.default_lang and translated == nil %}
    <p style="background:#fff3cd;padding:10px;border-radius:6px;">
      This post is currently available in English.
    </p>
  {% if page.categories %}
    <p>
      <strong>Categories:</strong>
      {% for category in page.categories %}
        {{ category }}
      {% endfor %}
    </p>
  {% endif %}

  {{ content }}
  {% include comments.html %}

</article>
